#include "../include/resource.h"

// Application icon
IDI_APP_ICON ICON "../content/app.ico"

// Main dialog
IDD_MAIN_DIALOG DIALOGEX 0, 0, 276, 95
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Main Dialog"
FONT 8, "MS Shell Dlg"
BEGIN
DEFPUSHBUTTON   "OK", IDC_BUTTON_OK, 209, 7, 50, 14
PUSHBUTTON      "Cancel", IDC_BUTTON_CANCEL, 209, 24, 50, 14
END
